<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DalManagerType" value="PrismUnityApp.DalMock.DalManager,PrismUnityApp.DalMock"/>
  </appSettings>
  <connectionStrings>
    <add name="PrismUnityAppDb" connectionString="Data Source=(localdb)\v11.0;Integrated Security=True;Initial Catalog=PrismUnityApp" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
</configuration>
